@font-face
  font-family: 'Bebas Neue'
  src: url('../../font/BebasNeue-Regular.woff2') format('woff2'), url('../../font/BebasNeue-Regular.woff') format('woff')
  font-weight: 700
  font-style: normal
@font-face 
  font-family: 'Open Sans'
  src: url('../../font/ofont.ru_Open-Sans.woff') format('woff'),url('../../font/ofont.ru_Open-Sans.woff2') format('woff2')
  font-style: 700
  font-weight: normal

